* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  background-color: #11cdef;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
